<div class="row">
     <div class="col-sm-12">
        <div class="status-widget">
            <h1>Happiness Index</h1>
        </div>
    </div>
</div>
<div class="row" ng-Controller="PollingStationStatusCtrl">
    <div class="col-sm-6">
        <div class="status-widget">
            <h3>Today</h3>
            <div>{{model.stationReport.happinessIndexToday | happinessIndex}}</div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="status-widget">
            <h3>All-time</h3>
            <div>{{model.stationReport.happinessIndex | happinessIndex}}</div>
        </div>
    </div>
</div>
   