<div class="row">
    <div class="col-md-12" style="text-align: center">
        <h1>Happiness Index</h1>
        <h2>Polling Station</h2>
    </div>
</div>

<div class="fluid-container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <form role="form">
                <select class="form-control input-lg"
                        ng-model="model.pollingStation"
                        ng-options="pollingStation as pollingStation.name for pollingStation in model.pollingStations">
                </select>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <div class="row">
                <div class="col-md-3 col-md-offset-4 indicator-button-happy">
                    <img class="img-responsive" src="/img/smiley.png"/>
                </div>
            </div>
            <div class="row" ng-repeat="question in model.happyQuestions">
                <div class="col-md-12">
                    <h3><span class="label" ng-class="{'label-success' : questionEnabled(question.id),'label-default' : !questionEnabled(question.id)}" ng-click="toggleQuestion(question.id)">{{question.text}}</span></h3>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <p class="lead">Click on the questions to highlight them and which will add them to your selected polling station.</p>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-3 col-md-offset-4 indicator-button-nothappy">
                    <img class="img-responsive" src="/img/saddy.png"/>
                </div>
            </div>
            <div class="row" ng-repeat="question in model.unhappyQuestions">
                <div class="col-md-12">
                    <h3><span class="label" ng-class="{'label-danger' : questionEnabled(question.id),'label-default' : !questionEnabled(question.id)}" ng-click="toggleQuestion(question.id)">{{question.text}}</span></h3>
                </div>
            </div>
        </div>
    </div>
</div>